extends ../layout
block header
block content
    form.mt-3
        //- .form-row
            .form-group.col-md-3
                label(for='type') Type
                select#type.form-control(name="type")
        .form-row
            .form-group.col-md-3
                label(for='date-input') From
                input#date-input.form-control(type="date", name="date")
            .form-group.col-md-3
                label(for='date2-input') To
                input#date2-input.form-control(type="date", name="date2")
        //- .form-row
            .col-3.my-2
                .custom-control.custom-checkbox.mr-sm-2
                    input#detailed.custom-control-input(type='checkbox', name='detailed')
                    label.custom-control-label(for='detailed') With MSISDNs
                input#count_limit-input.form-control(type="number", name="count_limit", placeholder="Minimum count" disabled=true)
            .col-1.my-2
                .custom-control.custom-checkbox.mr-sm-2
                    input#unique_subs.custom-control-input(type='checkbox', name='unique_subs' disabled=true)
                    label.custom-control-label(for='unique_subs') Unique
            .col-2
                input#count_limit-input.form-control(type="number", name="count_limit", placeholder="Minimum count" disabled=true)

        .form-row
            .form-group.col-md-3
                button.btn.btn-info.get-button(type='submit', style="width:100%") Get report
            .form-group.col-md-3
                #market_picker
            .form-group.col-md-3
                #reason_picker
            .form-group.col-md-3
                #base_picker
    //- form#request-report-form.mt-3(action="/reports/request" method="POST")
        .form-group
            .form-row.mb-3
                .col-3
                    input#date-input.form-control(type="date", name="date")
            .form-row.mb-3
                .col-3
                    input#date2-input.form-control(type="date", name="date2")
                .col-3
                    .input-group
                        .custom-file
                            input#file-upload.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01')
                            label.custom-file-label(for='file-upload')
                            input#msidn-list(type="hidden", name="numbers")
            .form-row.mb-3
                .col-3
                    #market_picker
                .col-3
                    #reason_picker
                .col-3
                    #base_picker
                .col-3
                    button.btn.btn-info.get-button(style="width:100%") Get report
    #table-space