link(rel='stylesheet', href='/css/footer.css')
script(src='/js/footer.js')
button.btn.btn-info.fixed-bottom.py-2(hidden) Save

//- footer.footer.button.btn-info.mt-auto.py-3
//-     .container.text-light
//-         span Save